
<div>
    <!-- Header -->
    <div class="card text-bg-dark">
        <img src="images/headerImage.avif" class="card-img img-fluid " style="height: 600px;" alt="...">
        <div class="card-img-overlay d-flex align-items-center">
          <div class="ms-5">
              <h1 class="h1 anton-regular" style="font-size: 70px;">Power World Gym</h1>
              <h3 class="ga-maamli-regular" style="font-size: 50px">Your Place for fitness</h3>
          </div>
        </div>
      </div>
      <!-- Workout Programs-->
       <div class="text-center mt-5" style="text-align: center;">
        <h4 class="ga-maamli-regular h3"><b>Regardless of your sport of choice ,
          our esteemed sports complex cultivates champions</b>
        </h4>
        <h1 class="text-danger mt-2">Our Services</h1>
        <app-view-all-program></app-view-all-program>
       </div>
       <!-- Subscriptions -->
        <div class="text-center mt-5">
          <h1 class="text-danger mt-2">Available Subscriptions</h1>
          <div>

            <app-view-all-subscribtions></app-view-all-subscribtions>
          </div>
        </div>
        <!-- About -->
        <div class="text-center m-5">
          <h1 class="text-danger mt-2">About Us</h1>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <p class="h6 mt-3 lh-lg"style="text-align: left;">At Power World Gym, we believe in empowering individuals to reach their full potential, both physically and mentally. Our state-of-the-art 
                    facility is designed to provide a motivating environment where everyone, from beginners to advanced athletes, can thrive. With a wide 
                    range of cutting-edge equipment, expert trainers, and personalized workout plans, we’re committed to helping you achieve your fitness 
                    goals. Whether you're here to build strength, improve endurance, or simply maintain a healthy lifestyle, Power World Gym offers the
                     support and community you need to succeed. Join us and experience the difference in a gym that truly cares about your fitness journey.</p> 

              </div>
              <div class="col-md-6">
                <img src="./images/OIP.jpg" alt="" srcset="">
              </div>
            </div>
          </div>

        </div>
</div>
