
<div>
    <!-- Header -->
    <div class="card text-bg-dark">
        <img src="images/headerImage.avif" class="card-img img-fluid " style="height: 600px;" alt="...">
        <div class="card-img-overlay d-flex align-items-center">
          <!-- <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
          <div class="ms-5">
              <h1 class="h1 anton-regular" style="font-size: 70px;">Grandeur Gym</h1>
              <h3 class="ga-maamli-regular" style="font-size: 50px">Your Place for fitness</h3>
          </div>
        </div>
      </div>
      <!-- Workout Programs-->
       <div class="">
        <app-view-all-program></app-view-all-program>
       </div>
</div>
<!-- <p>At Grandeur Gym, we believe in empowering individuals to reach their full potential, both physically and mentally. Our state-of-the-art 
    facility is designed to provide a motivating environment where everyone, from beginners to advanced athletes, can thrive. With a wide 
    range of cutting-edge equipment, expert trainers, and personalized workout plans, we’re committed to helping you achieve your fitness 
    goals. Whether you're here to build strength, improve endurance, or simply maintain a healthy lifestyle, Grandeur Gym offers the
     support and community you need to succeed. Join us and experience the difference in a gym that truly cares about your fitness journey.</p>  -->
