<app-navigation></app-navigation>
<!-- Dropdown Icon (using Bootstrap's icon classes) -->

<div class="dropdown" style="width: 100px; position: absolute; top: 0; right: 0;margin-top: 20px;">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        <!-- Using flexbox for proper alignment -->
        <div style="display: flex; justify-content: flex-end; align-items: center;">
            <!-- Adjusting image size to a reasonable value -->
            <img src="/images/profile-circle-svgrepo-com.svg" alt="Profile" style="width: 40px; height: 40px;">
        </div>
    </button>
    <ul class="dropdown-menu bg-dark text-light p-3" style="text-align: right; width: 200px;">
        <li>
            <a class="nav-link px-0 align-middle" (click)="navigateHome()">
                <span class="dropdown-item text-light">Home</span></a>
            <hr class="bg-light">
        </li>
        <li>
            <a [routerLink]="['userPayment']" class="nav-link px-0 align-middle">
                <span class="dropdown-item text-light">Payments</span></a>
            <hr class="bg-light">
        </li>
        <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Change Password
            </button>
            <hr class="bg-light">

        </li>
        <li><a class="dropdown-item text-light" href="#" (click)="logOut()">Logout</a></li>
    </ul>
</div>
<div>

    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white ">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/YourPageName" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            
<!-- Twitter -->
<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/YourTwitterHandle" role="button">
    <i class="fab fa-twitter"></i>
</a>

<!-- Google -->
<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://plus.google.com/YourGoogleProfile" role="button">
    <i class="fab fa-google"></i>
</a>

<!-- Instagram -->
<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/YourInstagramHandle" role="button">
    <i class="fab fa-instagram"></i>
</a>

<!-- Linkedin -->
<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/YourLinkedinProfile" role="button">
    <i class="fab fa-linkedin-in"></i>
</a>

<!-- Github -->
<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://github.com/YourGithubUsername" role="button">
    <i class="fab fa-github"></i>
</a>

        </section>
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                "Your fitness journey starts here! At Grandeur Gym, we are dedicated to helping you achieve your health
                and wellness goals with state-of-the-art facilities, expert trainers, and a supportive community. Join
                us today and experience the difference! Terms and conditions apply. Contact us for more details."
            </p>
        </section>
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="#!" class="text-white">Home</a>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="#!" class="text-white">Gallery</a>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="#!" class="text-white">About Us</a>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="#!" class="text-white">Contact Us</a>
                </div>
            </div>
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">powergym.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
                <div style="padding: -50px;width: 500px;">

                    <app-change-password ></app-change-password>
                </div>

            </div>

        </div>
    </div>
</div>