<div class="container col d-flex justify-content-center">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header">

            <h3 class="text-danger">{{isEditMode == true ? 'Update Program' : 'Add New program' }}</h3>

        </div>
        <div class="card-body" style="width: 400px;">

            <form [formGroup]="programForm" (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label for="programId" class="form-label">ProgramID</label>
                    <input type="text" class="form-control" id="programId" formControlName="programId">
                </div>
                <div class="mb-3">
                    <label for="programName" class="form-label">ProgramName</label>
                    <input type="text" class="form-control" id="programName" formControlName="programName">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="password" class="form-control" id="description" formControlName="description">
                </div>

                <div class="mb-3">
                    <label for="programStatus" class="form-label">ProgramStatus</label>
                    <input type="text" class="form-control" id="programStatus" formControlName="programStatus">
                </div>
                <div class="mb-3">
                    <label for="creationDate" class="form-label">CreationDate</label>
                    <input type="date" class="form-control" id="creationDate" formControlName="creationDate">
                </div>
                <div class="mb-3 mx-auto">
                    <button type="submit" [disabled]="programForm.invalid" class="btn btn-primary me-2">{{isEditMode ==
                        true ? 'Update' : 'Save'}}</button>
                    <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

