
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="p-2">
            <input type="text" class="form-control"  placeholder="Search Member..." name="serach" >
          </div>
          <div class="ml-auto p-2">
            <button type="button" class="btn btn-dark" [routerLink]="['/member/addMember']" routerLinkActive="router-link-active"   data-bs-target="#exampleModalToggle" data-bs-toggle="modal"><i class="bi bi-plus-lg"></i>New
              Member</button>
          </div>
        </div>
      </div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>PhoneNumber</th>
              <th>Address</th>
              <th>Actions</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members">
              <td>{{member.id}}</td>
              <td>{{member.name}}</td>
              <td>{{member.email}}</td>
              <td>{{member.password}}</td>
              <td>{{member.phone}}</td>
              <td>
                {{member.address?.addressLine1}},
                {{member.address?.addressLine2}},
                {{member.address?.city}}
              </td>
              <td>
                <button type="button" class="btn btn-primary me-3"  (click)="onEdit(member.id)"><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-danger me-3" (click)="onDelete(member.id)"><i class="bi bi-trash3"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>