<div class="container">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <h2>Members</h2>
    <div class="d-flex justify-content-between mb-3 mt-5">
      <div class="p-2 d-flex">
        <input type="text" class="form-control" placeholder="Search Member..." name="serach"
          [(ngModel)]="searchText"><button class="btn btn-dark"> <i class="bi bi-search"></i></button>

      </div>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
          class="bi bi-plus-lg"></i>
        Add New Member
      </button>
      <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content ">
            <div class="modal-body">
              <app-add-edit-member></app-add-edit-member>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let member of members | filterMember: searchText" >
            <td>{{member.userId}}</td>
            <td>{{member.firstName}} {{member.lastName}}</td>
            <td>{{member.email}}</td>
            <td>{{member.contactNo}}</td>
            <td> {{member.address}}</td>
            <td>
              <button type="button" class="btn btn-outline-warning me-3"
                [routerLink]="['/admin/member/editMember' , member.id]">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button type="button" class="btn btn-outline-danger me-3" (click)="onDelete(member.id)"><i
                  class="bi bi-trash3"></i></button>
              <button type="button" class="btn btn-outline-primary me-3"
                [routerLink]="['/admin/member/viewMember' , member.id ]"><i class="bi bi-eye-fill"></i></button>
              <button type="button" class="btn btn-outline-info me-3" data-bs-toggle="modal" data-bs-target="#enroll" (click)="enrollments(member.id)">
                Enroll
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="enrollLabel">Member Enrollments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let program of workoutPrograms" class="d-flex justify-content-evenly">
          <p class="card-title fw-bold">{{program.name}}</p>
          <p class="card-text">{{program.description}}</p>
          <div class="text-left" style="text-align: left;">
            <p class=""><b>Subscription :</b>{{program.programSubscription.name}}</p>
            <p class=""><b>Next Due Date :</b>{{program.nextDueDate|date:'mediumDate'}} </p>
            <p><b>Payments</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>