    <div class="card shadow p-4 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-4">
          <div class="p-2 w-50">
            <input type="text" class="form-control" placeholder="Search Member..." name="search" [(ngModel)]="searchText" (input)="onSearch()">
          </div>
          <div class="ml-auto p-2">

            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#refund" >Refund</button>
          </div>
          <div class="ml-auto p-2">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">Skipped Payment </button>
          </div>
          <div class="ml-auto p-2">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal3">Overdue </button>   
          </div>
          <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content ">
                <div class="modal-body">
                  <app-refund></app-refund>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content ">
                <div class="modal-body">
                  <app-skipped-payment></app-skipped-payment>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-dark">
            <tr>
              <th>Id</th>
              <th>User Name</th>
              <th>NIC Number</th>
              <th>Contact No.</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members">
              <td>{{ member.userId }}</td>
              <td>{{ member.firstName }} {{member.lastName}}</td>
              <td>{{ member.nicNo }}</td>
              <td>{{ member.contactNo }}</td>
              <td class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-3" [routerLink]="['/payment/pay', member.id]">Pay</button>
                <button type="button" class="btn btn-primary me-3" [routerLink]="['/payment/pay', member.id]">Skip payment</button>
                <button type="button" class="btn btn-danger" [routerLink]="['/payment/payment-history', member.id]">Payment History</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="refund" tabindex="-1" aria-labelledby="refundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <app-refund ></app-refund>
      </div>
    </div>
  </div>
</div>
