<div class="container mt-6">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img src="images/profile-circle-svgrepo-com.svg" style="width: 300px; " alt="profile" srcset="">
        </div>
        <div class="col-md-8 col-sm-12 ga-maamli-regular">
            <h1 class="anton-regular">User Id</h1>
            <p>Name :</p>
            <p>Age :</p>
            <p>Gender :</p>
            <p>Contact No :</p>
            <p>Email :</p>
            <button>View More Details</button>
        </div>
    </div>
</div>
