<div class="form-container p-10 m-10 ">
    <h3 class="text-dark">{{isEditMode == true ? 'Update User' : 'Add New member' }}</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="memberForm">
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" class="form-control"  formControlName="firstName" ngModel required />
      </div>
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" class="form-control" formControlName="lastName" ngModel required />
      </div>
      <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" class="form-control" formControlName="age" ngModel required />
      </div>
      <div>
        <label for="height">Height:</label>
        <input type="text" id="height" name="height" class="form-control" formControlName="height" ngModel />
      </div>
      <div>
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight" class="form-control" formControlName="weight" ngModel />
      </div>
      <div>
        <label>Gender:</label>
        <input type="radio" id="male" name="gender" value="Male" formControlName="gender" ngModel /> Male
        <input type="radio" id="female" name="gender" value="Female" formControlName="gender" ngModel />
        Female
        <input type="radio" id="other" name="gender" value="Other" formControlName="gender" ngModel /> Other
      </div>
      <div>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" formControlName="dob" ngModel />
      </div>
      <div>
        <label for="nic">NIC number:</label>
        <input type="text" id="nic" name="nic" formControlName="nic" ngModel required />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" formControlName="email" ngModel required />
      </div>
      <div>
        <label for="contact">Contact Number:</label>
        <input type="text" id="contact" name="contact" class="form-control" formControlName="contact" ngModel required />
      </div>
      <div>
        <label for="address">Address:</label>
        <textarea id="address" name="address" class="form-control" formControlName="address" ngModel></textarea>
      </div>

      <div class="mb-3 mx-auto">
        <button type="submit" [disabled]="memberForm.invalid" class="btn btn-primary me-2">{{isEditMode ==
            true ? 'Update' : 'Save'}}</button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
    </div>
      <!-- <button type="submit" [disabled]="!memberForm.valid">Add Member</button> -->
    </form>
  </div>
  